.footer {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color: transparent; /* Example background color */
    
    .footerLink {
      color: #fff; /* Text color */
      font-size: 16px;
      font-weight: 500;
      transition: color 0.3s ease, transform 0.3s ease;
  
      &:hover {
        color: #f7e1a7; /* Hover text color */
        transform: scale(1.05); /* Slightly enlarge on hover */
      }
    }
  }
  